img{
    margin-top: 0vh;
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    img {
       margin-top: 0vh;
    }
}

@media only screen and (max-width: 750px) {
    img {
       margin-top: 30vh;
       size: 2200px;
    }
}